{% extends "layout.html" %}
{% block content %}
<div class="container">
  <form action="" method="GET">
    {{ form.hidden_tag() }}
    <div class="form-group">
    
      {{form.search_movie()}}
      
      {{form.search()}}
    </div>

  </form>
  <h3 class="text-center"> Popular Movies</h3>
  <div class="row">
    {% for movie in movies %}
      <div class="col-lg-3  col-md-4 col-sm-8 movie-card">
          <img src="{{ url_for('static', filename='movieimage/' + movie.image_file) }}" class="img-thumbnail">
          
              <a href="/movies/{{movie.m_id}}"> {{movie.movie_title}} </a>      
      
      </div>
      {% endfor %}
     
      
  </div>
</div>



<!-- Button to Open the Modal -->


{% endblock content %}